# Binaries
/bin/
/build/
/dist/

# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
*.test

# Coverage
*.out

# Dependency directories (se usar vendoring)
vendor/

# Environment variables
.env

# Database
*.db
*.sqlite

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db